{% extends 'base_generic.html' %}
{% block title%}<title>Администрирование</title>{%endblock%}
{% block content %}

        <form action="" method="POST">
            <div class="card" style="margin-top: 2rem; width: 100%;">
                <div class="card-header">
                    <h3 class="card-title">Управление правами пользователей</h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <p><b>Пользователь: </b>{{ form.user }}</p>
                    <p><b>Уровень доступа: </b>{{ form.permissions }}</p>
                    <input class="btn btn-primary" type="submit" value="Подтвердить">
                    <a class="btn btn-danger" href="{% url 'index' %}">На главную</a>
                </div>
                
                {% if changed %}
                <div class="card-footer">
                    <p>Уровень доступа пользователя <b>{{changed_user}}</b> успешно изменен на <b>{{changed_perm}}</b>.</p>
                </div>
                {% endif %}
            </div>
        </form>

{% endblock %}