{% extends 'base_generic.html' %}

{% block content %}
    <div>
        <p>{{user.username}} (группа {{user_group}})</p>
        <p><a href="{% url 'logout' %}">Выйти</a></p>

        {% if no_permissions %}
        <p>Обратитесь у администратору для получения доступа. </p>
        {% endif %}

        {% if perms.database_app.can_view %}

            {% if user_group == "admins" %}
                <p><a href="{% url 'admin' %}">Администрация</a></p>
                <p><a href="{% url 'alltables' %}">Все таблицы</a></p>
            {% endif %}
        {% endif %}
    </div>
    <div>

        {% if tables%}
            {% for table in tables %}

                <a href=" {% url 'index' %}?table={{table}}">{{table.name}}</a><br>
            {% endfor %}
        {% else %}
            <p>Таблиц нет</p>
        {% endif%}
    </div>
    <div>
        <button type="button" class="btn btn-warning">Добавить таблицу</button>
    </div>

{% endblock %}
