{% extends 'base_generic.html' %}
{% block content %}

<div class="card" style="margin-top: 2rem; width: 100%;">
  <div class="card-header">
      <h3 class="card-title">Добавление таблицы</h3>
  </div>
  <div class="card-body">
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <label class="input-group-text">Название таблицы:</label>
            <div class="form-control">{{form.name}}</div>
        </div>
        <p>{{error}}</p>
        <button class="btn btn-warning" type="submit">Добавить</button>
        <a class="btn btn-primary" href=" {% url 'alltables' %}">Отмена</a>
    </form>
   </div>
</div>

{% endblock %}