{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'database_app/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Таблица</title>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <aside class="menu"></aside>
            <section class="main">
                <div class="main__button">
                    <div class="button__stick"></div>
                    <div class="button__stick"></div>
                    <div class="button__stick"></div>
                </div>
                <h1 class="main__title">Таблица</h1>
                <form action="" method="post" name="ourForm">
                <div class="main__table">
                    
                    {% csrf_token %}
                    <table>                        
                        {% for i in table %}
                            <tr>
                                {% for j in i %}
                                   <td>
                                        {{ j }}
                                    </td>
                                {% endfor %} 
                            </tr>
                        {% endfor %}
                    </table>
                    
                    <div class="buttonRow"></div>
                    <div class="button_change"></div>
                </div>
                <input type="text" class='agent' name="agent">
                <button class="justButton"></button>
                </form>
            </section>
        </div>
    </div>
    <script src="{% static 'database_app/js/script.js' %}"></script>
</body>
</html>
