{% extends 'base_generic.html' %}
{% block title%}<title>Вход</title>{%endblock%}

{% block content %}
<div class="card" style="margin-top: 2rem; width: 100%;">
  <div class="card-header">
      <h3 class="card-title">Вход</h3>
  </div>
    <div class="card-body">
      {% if form.errors %}
        <p>Логин и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
      {% endif %}

      {% if next %}
        {% if user.is_authenticated %}
          <p>У вас нет доступа к этой странице.</p>
        {% else %}
          <p> Войдите чтобы продолжить.</p>
        {% endif %}
      {% endif %}

      <form action="{% url 'login' %}" method="post" name="auth">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-text">{{ form.username.label_tag }}</div>
          <div class="form-control">{{ form.username }}</div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">{{ form.password.label_tag }}</div>
          <div class="form-control">{{ form.password }}</div>
        </div>
        <input class="btn btn-primary me-2" type="submit" value="Войти" />
        <a class="btn btn-warning me-2" href="{% url 'signup' %}">Зарегистрировать аккаунт</a>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      {% comment %} <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p> {% endcomment %}
    </div>
</div>
{% endblock %}