/*Обнуление*/
*{
	padding: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "Roboto", sans-serif;
}
input,button,textarea{font-family:inherit;}
table {
	border-collapse: collapse;
}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
	

nav {
	padding-left: 1rem;
}
nav * {
	margin-right: 1rem;
}
.content_container {
	margin-left: 2%;
	margin-right: 2%;
}
@media (max-width:900px	) {	
	.content_container {
		margin: 0%;
	}	
	*{
		font-size: large;
	}
}

.wrapper {
	min-height: 100%;
}

.table_head {
    position: relative;
}

.table_head td {
    position: relative;
}

.arrow {
    position: absolute;
    top: 12px;
    right: 5px;
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid rgb(44, 36, 36);
	border-bottom: 5px solid transparent;
}

.content {
	margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
	max-width: 1280px;
	width: 100%;
	position: relative;
}

/* .table-responsive {
	display: flex;
    max-width: 1280px;
	
    overflow-x: auto !important;
} */


.addColumn {
	width: 30px;
	height: 30px;
	background-color: green;
	color: #fff;
}

.deleteColumn {
	width: 30px;
	height: 30px;
	background-color: red;
}

.table_head {
	font-weight: 800;
	background-color: #dDD;
}
.table_element p{
	margin: 0;
	padding: 0.5rem;
}
tr {
	height: 30px;
    position: relative;
}
td {
	height: 30px;
	min-width: 100px;
	max-width: 300px;
}

tr:nth-child(even) {
	background-color: #ccc;
}

td:nth-child(1) {
	min-width: 150px;
	padding-left: 10px;
	padding-right: -2px;
}

td:nth-child(2) {
	min-width: 150px;
}

#resetButton {
	border: 1px solid #000;
	border-radius: 5px;
	display: none;
	margin: 10px 0;
	font-weight: 600;
}

.buttonsColumn {
    display: none;
}

.buttonsRow {
	display: none;
}

.dark {
	transition: .2s;
	background-color: gray !important;
	position: relative;
}

.justButton {
    width: 100px;
	height: 40px;
	background-color: red;
    border-radius: 10px;
}

.agent {
    display: none;
}

.choiceButton__wrapper {
	top: -25px;
	height: 75px;
	width: 25px;
	padding: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.addButton {
	height: 25px;
	width: 25px;
	transition: .2s;
}

.deleteButton {
	height: 25px;
	width: 25px;
	transition: .2s;
}


.choiceButton {
	width: 25px;
	height: 25px;
	background-color: green;
	transition: .2s;
	padding: 0;
}

.hide {
	display: none !important;
}

#table_card .card-body{
	padding: 0;
}