/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "Roboto", sans-serif;
}
input,button,textarea{font-family:inherit;}
table {
	border-collapse: collapse;
}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
	
.content_container {
	margin-left: 2%;
	margin-right: 2%;
}
@media (max-width:900px	) {	
	.content_container {
		margin: 0%;
	}	
	
	.table-element {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	*{
		font-size: large;
	}
}

.table-element {
	margin-top: 5px;
	margin-bottom: 5px;
}

.wrapper {
	min-height: 100%;
	
}

.content {
	padding: 0 15px;
	max-width: 335px;
	width: 100%;
	position: relative;
}

.table__search {
    display: flex;
    align-items: center;
}

#cancel {
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 3px;
    width: 70px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 3px;
    width: 70px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-responsive {
	display: flex;
}


.addColumn {
	width: 30px;
	height: 30px;
	background-color: green;
	color: #fff;
}

.deleteColumn {
	width: 30px;
	height: 30px;
	background-color: red;
}

.table_head {
	font-weight: 800;
	background-color: #dDD;
}
tr {
	height: 30px;
}

td {
	height: 30px;
	min-width: 100px;
}

tr:nth-child(even) {
	background-color: #ccc;
}	

td:nth-child(1) {
	min-width: 150px;
	padding-left: 10px;
	padding-right: -2px;
}

td:nth-child(2) {
	min-width: 150px;
}	

#resetButton {
	border: 1px solid #000;
	border-radius: 5px;
	display: none;
	margin: 10px 0;
	font-weight: 600;
}

.buttonsColumn {
    display: none;
}

.buttonsRow {
	display: none;
}


.justButton {
    width: 100px;
	height: 40px;
	background-color: red;
    border-radius: 10px;
}

.agent {
    display: none;
}