/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
table {
	border-collapse: collapse;
}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*--------------------*/

.table_head{
	background-color: #dee2e6;
}

.buttonRow {
	margin-top: 5px;
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 5px;
	display: none;
}

td.buttonColumn {
	margin-top: 5px;
	display: block !important;
	min-width: 20px !important;
	height: 20px;
	background-color: red;
	border-radius: 5px;
}	

.button_change {
	width: 20px;
	height: 20px;
	background-color: red;
}

input {
	border: 1px solid #000;
	border-radius: 5px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
}

.justButton {
    width: 100px;
	height: 40px;
	background-color: red;
    border-radius: 10px;
}

.agent {
    display: none;
}